@import url("https://unpkg.com/flickity@2.2.1/dist/flickity.css");
@import url('https://fonts.googleapis.com/css?family=Lato|Jim+Nightshade|Uncial+Antiqua:400,700&display=swap');


/*--------Bootstrap Breakpoints---------*/

/* xs devices (<576px) = default in Bootstrap (hence no media query)

sm devices (>576px) = @media max-width: 576px

md devices (>768px) = @media max-width: 768px

lg devices (>992px) = @media max-width: 992px

xl devices (>1200px) = @media max-width: 1200px
*/

/*--------Media Queries--------*/

/* max-width, not min-width, for mobile-first styling */

@media (max-width: 992px) {
  .social a {
    font-size: 4em;
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .dsiplay-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5rem;
    padding: 1.2rem;
  }

  .subcaption,
  .subsub {
    display: none;
  }
  
  .image1 {
    display: none;
  }


}

@media (max-width: 576px) {

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2rem;
    padding: .7rem;
  }

  .card {
    width: 311px;
    height: 396px;
  }
  .carousel-cell {
    width: 288px;
    height: 293px;
  }
  .card-body {
    width: 293px;
    height: 91px;
  }

  .card-img-top {
    height: 250px !important;
  }

  #M9 {
    font-size: 350%;
  }

  .subcaption,
  .subsub {
    display: none;
  }

  .s-hide {
    display: none;
  }

  .image1 {
    display: none;
  }

  .texts {
    font-size: 110% !important;
  }


}

/* ==============STYLING==============*/

/*--------HTML, BODY Styling-----*/

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #222;
  background-color: #0e1a35;
}

#maincontain {
  background-color: #151f3a;
  position: relative;
  z-index: 98;
}

.bands {
  padding-top: 20px;
}

.titletext {
  color: #fff;
}

/*-------Navbar Styling------*/

.navbar {
  /*1 rem = 16px?*/
  padding: .8rem;
}

.navbar-nav li {
  padding-right: 1.4rem;
}

.nav-link {
  font-size: 1.1em !important;
}

/*-------Parallax Styling-----*/

/*Image*/
.parallax {
  background-image: url("../images/BBG.jpg");
  background-color: #152654;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Text*/
.p-text {
  position: absolute;
  width: 100%;
  color: #fff;
  font-weight: 700;
}

.caption {
  top: 20%;
  text-align: center;

}

.bborder {
  font-family: 'Uncial Antiqua', sans-serif;
  color: #151e3e;
  padding: 18px;
  font-size: 500%;
  letter-spacing: 10px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.subcaption {
  top: 80%;
  text-align: right;
}

.subborder {
  font-family: 'Jim Nightshade', sans-serif;
  color: #fff;
  padding: 18px;
  font-size: 30px;
  letter-spacing: 10px;
}

.subsub {
  top: 85%;
  text-align: right;
}

.subbub {
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 18px;
  font-size: 15px;
  letter-spacing: 8px;
}


/*-------Carousel Styling------*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.carousel {
  padding: 2rem;
  background: #1a2b44;
}

.carousel-cell {
  width: auto;
  height: 500px;
  padding-left: 5px;
  padding-right: 5px;
  background: #9fabb9;
  border-radius: 0px;
  counter-increment: carousel-cell;
}

.carousel-cell.is-selected {
  background: #ED2;
}

.card {
  background-color: #9fabb9;
  border: 15px solid #1a2b44;
}

.carousel-btn {
  background-color: #818a92;
}

.btn-outline-secondary {
  color: #29333c;
}


.flickity-page-dots .dot {
  background: #9fabb9;
}

.flickity-page-dots {
  position: static;
}

/* code from flickity styling cell number */

.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}


/*------About Styling-----*/

.titles {
  font-family: 'Jim Nightshade', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.titletext {
  padding: 1.5%;
}

.texts {
  font-size: 135%;
  line-height: 2.5;
  color: #f1f1f1;
}

.find-text {
  color: #f1f1f1;
}

.about-item {
  padding: 4rem;
  background: url(../images/blue.jpeg) #151f3a;
  color: #d5d5d5;
}

#about-hr {
  width: 100%;
}

#about-image {
  width: 90%;
  height: auto;
  margin: 7%;
}

/*-------Latest Episode Styling---------*/

/*styling for iframe inspired by https://embedresponsively.com/ */

.video-container {
  position: relative;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border: none;
}


/*--------Prizedraw Styling--------*/

.prize-item {
  padding-left: 5%;
  padding-right: 5%;

  background-color: #4b5969;
  color: #d5d5d5;
}

#prize-title {
  padding-top: 2%;
}

.form-check-input {
  margin-top: 1.3rem;
}

.form-group {
  margin-bottom: 0.8rem;  
}

.lge {
  margin-bottom: 1.8rem;
}

/*--------Social Media Styling--------*/

.social a {
  font-size: 3.5em;
  padding: 3rem;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-twitch:hover,
.fa-instagram:hover {
  color: #909090;
}

.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00aced;
}

.fa-youtube {
  color: #bb0000;
}

.fa-twitch {
  color: #643fa7;
}

.fa-instagram {
  color: #517fa4;
}


/*--------Footer Styling--------*/

footer {
  padding-top: 1rem;
  background-color: #3f3f3f;
  color: #d5d5d5;
}

.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-bottom: 1rem;
}

footer a {
  color: #d5d5d5;
}


/* ==============FIXES==============*/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------Padding Fix for Bootstrap--------*/

[class*="col-"] {
  padding: 1rem;
}

.row2 {
  margin-left: 5%;
  margin-right: 5%;
}
